*,
::after,
::before {
  box-sizing: border-box;
}

:root{
    --bg:#f5efec;
    --primary:#ea9588;
    --primary-dark:#b5665b;
    --primary-light:#ffcdbe;

    --secondary:#1c6e82;
    --secondary-dark:#004355;
    --secondary-light:#549cb2;

    --text: #262629;
    --text-light:#f5f5f6;
    --link-color:#262629;
    --link-hover: #f5efec;

    --grey: #d3d4d3;
    --white: #ffffff;
    --black: #000000;

    --max-width: 1200px;
    --border-radius:4pt;

    --primary-font: "Poppins", san-serif;
    --secondary-font: "Montserrat";
}

html,body{
    overflow-x: hidden;
}

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    background-color: var(--bg);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style-type: none;
}

a, a:visited{
    color: var(--link-color);
    text-decoration: none;
}
a:hover{
    color: var(--link-hover);
}
h1,
h2,
h3,
h4{
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--secondary-font);
}
h1 {
    font-size: 4rem;
    margin:.67em 0;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1rem;
}

.btn, .btn:visited{
    display: inline-block;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    background: var(--secondary);
    color:var(--bg);
    border-radius: var(--border-radius);
    text-transform:uppercase;
    border:transparent;
    font-weight: 600;
    margin-bottom: 2rem;
    -webkit-box-shadow: 3px 3px 7px -3px rgba(0,17,22,0.24), 3px 3px 7px -3px rgba(0,17,22,0.24); 
    box-shadow: 3px 3px 7px -3px rgba(0,17,22,0.24), 3px 3px 7px -3px rgba(0,17,22,0.24);
}

.btn:hover{
    background: var(--secondary-light);
}

.submit-btn{
    margin-top: 1rem;
}

.social-links{
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}

.social-link{
    font-size: 1.8rem;
    color: var(--primary-dark);
    text-decoration: none;
}

.social-link:visited{
    color: var(--primary-dark);
}

.social-link:hover{
    color: var(--secondary-dark);
}

/*########*/
/* Navbar */
/*#######*/

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background-color: var(--primary);
    padding: .8rem 0;
}

.logo-link{
    display: block;
    border: 2pt solid #ffff;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    margin-left: 1rem;
}

#logo-span{
    margin: 0;
    padding: .5rem .7rem;
    font-size: 1.75rem;
}

#logo-span:hover{
    color: var(--bg);
}

.logo-img{
    display: inline-block;
    vertical-align: middle;
    border-radius: 2pt;
    margin-left: 10pt;
}


.nav-btn{
    display: none;
}

.nav-ul{
    display: flex;
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 0;
    border-top: none;
    margin: 0 1rem 0 0;
    font-size: 1rem;
    background-image: linear-gradient(var(--primary) 50%, var(--secondary-light) 50%); 
    background-repeat: repeat-x;
    background-position: right bottom -.8px;
    background-size: 25% 25%;
}
.nav-link:hover{
    background-position: right top -0.8px;
    background-size: 25% 18%;
    background-image: linear-gradient(var(--primary-light) 50%, var(--primary) 50%);
}

.active-link, .active-link:visited{
    background-position: right top -0.8px;
    background-size: 25% 18%;
    background-image: linear-gradient(var(--secondary) 50%, var(--primary) 50%);
}
.voice-link-div{
    display: flex;
    align-items: center;
}
.voice-link-div p{
    margin: 0 .2rem 0 0;
}
.voice-li{
    position: relative;
}

.voice-nav{
    visibility: hidden;
    position: absolute;
    border-radius: 2px;
    left: -10px;
    top: 30px;
    overflow: hidden;
    padding: .5rem .5rem .2rem;
    background-color: var(--primary-light);
    transition: all .3s ease;
    z-index: 100;
}

.open-popup{
    display: block;
    visibility: visible;
    overflow: visible;
}

.voice-link,.voice-link:visited{
    background-image:none !important;
}

.voice-link:hover{
    color:var(--secondary);
}

/*########*/
/* Pages */
/*#######*/

.main{
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    min-height: calc(100vh - 10rem);
    margin-top: 2rem;
}


.home-pg{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.home-header{
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: clamp(40px, 8vw, 80px);
}

.home-text{
    font-size: clamp(25px, 5vw, 60px);
}

.name-span{
    color: var(--secondary);
}

.projects-btn, .projects-btn:visited{
    margin-top: 2rem;
    background: transparent;
    border: 1.3pt solid var(--secondary);
    color:var(--secondary-dark);
    box-shadow: 1px 3px 7px -3px #b5665b, 3px 1px 7px -3px #004355;
    transition-delay: 300ms;
}

.projects-btn:hover{
    background: transparent;
    border-color:var(--primary-dark);
    color:var(--primary-dark);
}

/*########*/
/* About */
/*#######*/

.about-section{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 3rem;
    align-items: stretch;
    height: 100%;
}
.pg-header{
    flex: 1 0 100%;
}

.about-text{
    flex: 1 0 50%;
}

.photo-div{
    position: relative;
    flex: 0 1 45%;
}

.portrait-container{
    border: 2pt solid var(--primary-light);
    position:absolute!important;
    border-radius: 50%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.img-top{
    z-index: 10;
}

.img-top:hover {
    opacity:0;
}

.selfie{
    border: 2pt solid var(--bg);
    border-radius: 50%;
}

.learn-more-link,.learn-more-link:visited{
    color: var(--primary-dark);
    font-variant: all-petite-caps;
    font-weight: 600;
    font-size: 1.1rem;
}
.learn-more-link:hover{
    color: var(--secondary-dark);
}

/*########*/
/* Projects */
/*#######*/

.projects{
    padding: 0 1.5rem;
    border: 1pt solid var(--primary-dark);
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
}

.header-container{
    border-bottom: 1pt solid var(--secondary-dark);
    margin-bottom: 2rem;
    width: 90vw;
    max-width: var(--max-width);
    margin-left: -1.58rem;
    padding: 0 1.5rem;
}

.section-header{
    margin-bottom: 1.5rem;
}

.projects-container{
    display: flex;
    flex-flow: row wrap;
    margin-top: -32px;
    width: calc(100% + 32px);
    margin-left: -32px;
    margin-bottom: 32px;
}

.project-shell{
    display: block;
    padding-left: 32px;
    padding-top: 32px;
    flex-basis: 33.333333%;
    flex-grow: 0;
    max-width: 33.333333%;
}

.project-shell:hover{
    color:var(--text)
}

.project-pg{
    display: block;
    margin-bottom: 2rem;
}

/*individual project div container*/
.project{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background: var(--primary-light);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.project-pg-link{
    text-align: center;
}

.project-pg-link.disabled{
    cursor:default;
    pointer-events: none;
}

/* project image */
.project-img{
    flex: 0 1 30%;
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.project-img-pg{
    flex: 0 1 20%;
}

.project-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    opacity: 0.25;
    transition: opacity .5s ease;
}

.project:hover .project-img::after {
    opacity: 0;
}

.project-pg>.project>.project-img::after{
    background-color:transparent;
}

/* holds all other project information */
.project-info{
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background: var(--primary-light);
    border-radius: var(--border-radius);
    border-top: 3pt solid var(--primary-dark);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* project header */
.project-info h3{
    margin-top: 0;
    font-size: 1.70rem;
}

.project-li{
    display: grid;
    border-radius: var(--border-radius);
    background: #ffffffab;
    padding: .8rem;
    grid-template-columns: 1em auto;
    margin-bottom: .5rem;
    column-gap: .4rem;
    align-items: start;
}

.project-li svg{
    align-self: start;
    margin-top: 0.25rem;
    color: var(--primary-dark);
}

/* div holding multiple <a> */
.project-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: .2rem;
}
.project-link, .project-link:visited{
    margin-right: 1.5rem;
    color: var(--secondary-dark);
    display: flex;
    align-items: center;
}

.project-link:hover{
    color: var(--secondary);
}

.project-link>svg{
    margin-right: .5rem;
    font-size: 1.5rem;
}

.project-stack{
    display: flex;
    flex-wrap: wrap;
}

/* div of span ele */
.project-stack span{
    font-variant: all-petite-caps;
    font-weight: 500;
    margin: 0.25rem .25rem 0;
    padding: 0.12rem 0.65rem .25rem;
    background: var(--primary-dark);
    color:var(--text-light);
    border-radius: var(--border-radius);
}

/*#############
  CONTACT PAGE
#############*/

.contact-page{
    display: flex;
    flex-wrap: wrap;
}
.contact-header{
    flex: 1 0 100%;
    margin: 0;
    align-self: center;
}
.contact-content{
    flex: 0 1 50%;
}

.contact-form-container{
    flex: 0 1 50%;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.form-input{
    width:100%;
    padding:4px 8px;
    font-size:.9em;
    border:none;
    border-bottom: 2pt solid var(--secondary-light);
    transition:all .2s ease-in;
}

.form-input:focus{
    background:var(--primary-light);
    outline: none;
    color:var(--text);
}


.voice-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.voice-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text);
    opacity: 0.35;
}

.voice-pg{
    width: 100vw;
}

.voice-section-head{
    height: 35vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.voice-header{
    text-align: center;
    z-index: 10;
    padding: 1vh 10vw;
    border: 4pt solid white;
    color: white;
}

.voice-text{
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.voice-text a, .voice-text a:visited{
    color: var(--secondary);
}
.voice-text a:hover{
    color: var(--primary-dark)
}

/*########*/
/* Footer */
/*#######*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    text-align: center;
    background-color: var(--primary-light);
    margin-top:auto; 
}
.footer p{
    margin: 0;
}

@media screen and (max-width: 900px) {
    .project-shell{
        flex-basis: 50%;
        max-width: 50%;
    }

    .project-info{
        justify-content: space-evenly;
    }

    .project-info h3{
        font-size: 1.75rem;
    }

    .project-img::after {
        background-color: transparent;
    }

}

@media screen and (max-width: 600px) {
    #navbar{
        flex-wrap: wrap;
        height: auto;
    }
    
    .logo-img{
        margin-left: 0;
    }

    .nav-btn{
        display: block;
        background: transparent;
        border: none;
        margin-right: 1rem;
        font-size: 20pt;
        color: var(--bg);
        transition:all .2s ease-in;
    }

    .nav-links{
        visibility: hidden;
        overflow: hidden;
        flex-flow: column;
        height: 0pt;
        flex: 1 0 100%;
    }

    .show-links{
        margin-top:1rem;
        display: flex;
        flex: 1 0 100%;
        height: auto;
        background-color: var(--primary-light);
        overflow: visible;
        visibility: visible;
        transition:all .2s ease-in;
    }

    .voice-link-div:hover{
        margin: 0;
        background-image: none;
    }
    .voice-li{
        margin-left: 15px;
    }

    .voice-nav{
        visibility: hidden;
        left: 53px;
        top:0px;
        border-left: 2pt solid var(--primary);
        padding: 0rem 0.5rem;
        background-color: transparent;
        overflow: hidden;
        height: 0pt;
        position: relative;
    }

    .open-popup{
        visibility: visible;
        overflow: visible;
        height: auto;
    }

    .nav-ul{
        flex-direction: column;
    }

    .nav-link{
        background-image: none;
    }

    .active-link{
        background-image: none;
        color:var(--primary-dark);
    }

    .project-shell{
        flex-basis: 100%;
        max-width: 100%;
    }

    .project{
        height: auto;
    }

    .project-info{
        justify-content: flex-start;
    }

    .project-img::after {
        background-color: transparent;
    }

    .about-section{
        justify-content: center;
    }

    .about-text{
        order:3;
        width: 100%;
    }

    .pg-header{
        text-align: center;
        margin: 1rem 0;
    }

    .photo-div{
        order: 2;
        width: 100%;
        flex: 0 1 55%;
        height: 140pt;
    }

    .contact-page{
        align-items: center;
    }

    .contact-content{
        flex: 1 0 100%
    }

    .contact-form-container{
        flex: 1 0 100%;
    }
}
