*,
::after,
::before {
  box-sizing: border-box;
}

:root{
    --background-default: #ffffff;
    --indigo-20: #BFDDED;
    --indigo-40: #92C5E1;
    --indigo-60: #548EA7;
    --indigo-80: #316684;
    --indigo-100: #004966;
    --copper-100: #B67A3E;
    --rose-100:#C97F83;
    --raisin-100:#262629;
    --ghost-100:#f5f7fa;

    --text-color-primary: #262629;

    --button-bg:#C97F83;
    --button-border:#B67A3E;
    --button-text:#262629;

    --button-hover-bg:#B67A3E;
    --button-hover-border:#C97F83;
    --button-hover-text:#f5f7fa;

    --max-width: 1200px;
}

ul {
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    background: var(--button-bg);
    border: 2px solid var(--button-border);
    color:var(--button-text);
    border-radius: 4px;
    text-transform:uppercase;
}

.btn:hover{
    background: var(--button-hover-bg);
    border: 2px solid var(--button-hover-border);
    color:var(--button-hover-text);
}

/*########*/
/* social links */
/*#######*/

.social-links{
    display: flex;
    width: 15rem;
    justify-content: space-between;
}

.social-link{
    font-size: 1.8rem;
    color: var(--text-color-primary);
}

.social-link:hover{
    color: var(--button-hover-bg);
}

/*########*/
/* Navbar */
/*#######*/

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 200;
}

.nav-header{
    padding: 0;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.logo-img{
    display: inline-block;
    vertical-align: middle;
    border-radius: 2pt;
    margin-left: 10pt;
}


.nav-btn{
    display: none;
}

.nav-links{
}

.nav-ul{
    display: flex;
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav-link{
    display: block;
    text-align: center;
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
}

.active-link{

}

/*########*/
/* Pages */
/*#######*/

.main{
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    min-height: calc(100vh - 12rem);
}

/*########*/
/* About */
/*#######*/

.about-section{
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.portrait-container{
    border-radius: 50%;
    width: 40vw;
}

/*########*/
/* Footer */
/*#######*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #navbar{
        flex-flow: column;
        height: auto;
    }
    
    .logo-img{
        margin-left: 0;
    }

    .nav-btn{
        display: block;
        background: transparent;
        /* border: none; */
    }

    .nav-links{
        display:none;
        overflow: hidden;
        flex-flow: column;
    }

    .show-links{
        display: flex;
    }

    .nav-ul{
        flex-direction: column;
    }

}
